force-app/main/default/flows/Pull_Report_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pull_Premier_Profile_Report</name>
        <label>Pull Premier Profile Report</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>FlowPullReportService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>address</name>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessName</name>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>Get_Account.BillingState</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowPullReportService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Pull Report Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pull Report Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pull_Premier_Profile_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
